{
	"env": {
		"browser": true,
		"jest": true,
		"es6": true
	},
	"plugins": ["prettier", "jsx-a11y"],
	"extends": ["react-app", "prettier", "plugin:jsx-a11y/recommended"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"no-console": "warn",
		"no-eval": "error",
		"import/first": "error",
		"jsx-a11y/click-events-have-key-events": "off",
		"jsx-a11y/no-static-element-interactions": "off"
	}
}
