.custom-button {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
	font-weight: bolder;
	line-height: 50px;
	display: inline-block;
	width: auto;
	min-width: 165px;
	height: 50px;
	padding: 0 35px 0 35px;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: white;
	border: none;
	background-color: black;

	&:hover {
		color: black;
		border: 1px solid black;
		background-color: white;
	}

	&.google-sign-in {
		color: #fff;
		background-color: #4285f5;

		&:hover {
			background-color: #357ae8;
		}
	}
}
